.ant-menu {
    background: #fff !important;
}

.ant-menu-sub.ant-menu-inline {
    background: none !important;
    color: var(--main-color-layout);
}
.ant-menu-submenu > .ant-menu {
    background: none !important;
}

:where(.css-dev-only-do-not-override-1ck3jst).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1ck3jst).ant-menu-light>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title {
    color: var(--main-color-layout);
}
