.ant-btn:hover,
.ant-btn:focus {
  color: #000;
  border-color: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}

.ant-menu-submenu-title:active {
  background: var(--second-bg-color);
}

.ant-menu-item a:hover {
  color: var(--main-color-layout);
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: var(--main-color-layout);
}

.ant-menu-item-selected {
  color: var(--main-color-layout);
}

.ant-menu-item-selected a {
  color: var(--main-color-layout);
}

.ant-menu-submenu:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: var(--main-color-layout);
}

.ant-menu-submenu-selected {
  color: var(--main-color-layout);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f1f6fb;
  border-right-color: #65ba8f;
  border-right-width: 5px;
  border-right: 3px solid #65ba8f;
  color: #6fcbc0;

  a {
    color: #6fcbc0;
  }
}

.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-submenu-arrow {
  color: #adaeb8;

  a {
    color: #a1a2a8;
  }
}

.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: var(--main-color-layout);
}
.ant-layout-sider.ant-layout-sider-dark.edit-sider {
  max-width: 250px !important;

  flex-basis: 250px !important;
  width: 250px !important;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.edit-sider {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
